<% provide(:title, @category) %>

<h1><%= @category %></h1>

<div class="btn_create">
  <%= link_to "Create card", '/card_masters/new/category/'+@category_id.to_s, class: "btn btn-lg btn-primary" %>
</div>

<%= will_paginate %>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-xs-3">Question</th>
      <th class="col-xs-3">Answer</th>
      <th class="col-xs-1"></th>
      <th class="col-xs-1"></th>
    </tr>
  </thead>
  <%= render @card_masters %>
</table>

<%= will_paginate %>