<% provide(:title, 'Create Card') %>
<% provide(:button_text, 'Create') %>
<h1>Create Card</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@card_master) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :question %>
      <%= f.text_field :question, class: 'form-control' %>

      <%= f.label :answer %>
      <%= f.text_field :answer, class: 'form-control' %>

      <%= f.label :choice1 %>
      <%= f.text_field :choice1, class: 'form-control' %>

      <%= f.label :choice2 %>
      <%= f.text_field :choice2, class: 'form-control' %>

      <%= f.label :choice3 %>
      <%= f.text_field :choice3, class: 'form-control' %>

      <%= f.label :choice4 %>
      <%= f.text_field :choice4, class: 'form-control' %>

      <%= hidden_field_tag :category_id, @category_id %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>