<% provide(:title, 'All card categories') %>

<h1>Lessons</h1>

<div class="btn_back">
  <%= link_to "Back", root_path, class: "btn btn-lg btn-primary" %>
</div>

<%= will_paginate @card_categories %>

<table class="table table-hover lesson_tbl">
  <thead>
    <tr>
      <th class="col-xs-3 category-name-header">Category Name</th>
      <th class="col-xs-9 description-header">Description</th>
    </tr>
  </thead>
  <% @card_categories.each do |card_category| %>
    <tbody>
      <tr>
        <td class="category_line">
          <%= link_to card_category.category, 
              '/lessons/category/'+card_category.id.to_s %>
        </td>
        <td class="category_line">
          <%= link_to card_category.description, 
              '/lessons/category/'+card_category.id.to_s %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>

<%= will_paginate @card_categories %>