<% provide(:title, @category) %>

<h1><%= @category %></h1>

<div class="btn_back">
  <%= link_to "Back", lessons_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="btn_finish">
  <%= link_to "Finish", lessons_path, class: "btn btn-lg btn-success" %>
</div>

<%= will_paginate @lessons %>

<table class="table table-hover lesson_tbl">
  <thead>
    <tr>
      <th>Question</th>
      <th>Choice1</th>
      <th>Choice2</th>
      <th>Choice3</th>
      <th>Choice4</th>
      <th>Answer</th>
      <th></th>
      <th>Solved</th>
    </tr>
  </thead>
    <% @lessons.each do |lesson| %>
      <tbody>
        <tr>
          <td>
            <%= lesson.question %>
          </td>
          <td>
            <%= lesson.choice1 %>
          </td>
          <td>
            <%= lesson.choice2 %>
          </td>
          <td>
            <%= lesson.choice3 %>
          </td>
          <td>
            <%= lesson.choice4 %>
          </td>
          <td>
            <span id="ans">
              <%= lesson.answer %>
            </span>
          </td>
          <td>
            <button type="button"
              class="btn btn-default ans_btn">
            Show</button>
          </td>
          <td>
            <span id="yesno">
              <% if lesson.rank == 1 %>
                <%= form_for(lesson, url: "/lessons/"+lesson.id.to_s,
                                html: { method: :post },
                                remote: true) do |f| %>
                  <%= hidden_field_tag :card_tmp_id, lesson.id %>
                  <%= f.submit "No", class: "btn btn-danger solved_btn" %>
                <% end %>
              <% else %>
                <%= form_for(lesson, url: "/lessons/"+lesson.id.to_s,
                                html: { method: :post },
                                remote: true) do |f| %>
                  <%= hidden_field_tag :card_tmp_id, lesson.id %>
                  <%= f.submit "Yes", class: "btn btn-success solved_btn" %>
                <% end %>
              <% end %>
            </span>
          </td>
        </tr>
      </tbody>
    <% end %>
</table>

<%= will_paginate @lessons %>

<script type="text/javascript">
  $('.ans_btn').click(function() {
    ans = $(this).parent().prev().children('#ans');
    if (ans.is(':visible')) {
      ans.fadeOut();
      $(this).text("Show");
    } else {
      ans.fadeIn();
      $(this).text("Close");
    }
  });

  $('.solved_btn').click(function() {
    solved_btn_text = $(this).val();
    if (solved_btn_text === 'Yes') {
      this.value = 'No';
      $(this).css('background-color', '#c9302c');
      $(this).css('border-color', '#ac2925');
    } else {
      this.value = 'Yes';
      $(this).css('background-color', '#5cb85c');
      $(this).css('border-color', '#4cae4c');
    }
  });
</script>